@use '../utils/variables' as v;
@use '../utils/mixins';

#education {
    margin-bottom: 100px;

    @include mixins.laptop {
        margin-bottom: 130px;
    }

    .education__container {
        margin: 0 30px;
        display: flex;
        flex-direction: column;

        @include mixins.tablet {
            justify-content: space-between;
            margin:0 50px;
        }

        @include mixins.tablet-xl {
            margin: 0 70px;
        }

        @include mixins.laptop {
            margin: 0 90px;
        }

        @include mixins.desktop {
            margin: 0 130px;
        }

        @include mixins.desktop-xl {
            margin: 0 150px;
        }

        h2 {
            color: v.$title-color;
            font-size: 32px;
            margin-bottom: 50px;

            @include mixins.tablet {
                font-size: 36px;
            }
        }

        .education__container {
            max-width: 450px;
            margin: 0 auto;

            .first__container, .third__container {
                height: fit-content;
                position: relative;
                padding: 30px;
                border-left: v.$borders-color dashed 2px;
                border-bottom: v.$borders-color dashed 2px;

                
                .point {
                    width: 16px;
                    height: 16px;
                    background-color: v.$borders-color;
                    border-radius: 100%;
                    position: absolute;
                    top: 50%;               
                    left: -9px;
                    transform: translateY(-50%); 
                }

                .arrow {
                    width: 16px;
                    height: 16px;
                    position: absolute;
                    top: 0;
                    left: -10.5px;
                    transform: rotate(45deg);
                    transform-origin: center;
                    border-top: v.$borders-color solid 3px;
                    border-left: v.$borders-color solid 3px;
                }
            }

            .second__container {
                height: fit-content;
                position: relative;
                padding: 30px;
                border-right: v.$borders-color dashed 2px;
                border-bottom: v.$borders-color dashed 2px;


                .point {
                    width: 16px;
                    height: 16px;
                    background-color: v.$borders-color;
                    border-radius: 100%;
                    position: absolute;
                    top: 50%;               
                    right: -9px;
                    transform: translateY(-50%); 
                }
            }

            .fourth__container {
                height: fit-content;
                position: relative;
                padding: 30px;
                border-right: v.$borders-color dashed 2px;

                .point {
                    width: 16px;
                    height: 16px;
                    background-color: v.$borders-color;
                    border-radius: 100%;
                    position: absolute;
                    top: 50%;              
                    right: -9px;
                    transform: translateY(-50%); 
                }
            }
        }
    }
}