// ---
// COLORS 
// ---

$black: #000;
$white: #fff;
$red: #a70b0b;
$green: #055e05;
$background-color: #11131F;
$title-color: #70B8FF;
$txt-color: #C2E6FF;
$borders-color: #304384;
$components: #0D2847; // hover bg transparent comp (=> nav)
$hover-components: #003362;
$select-components: #004074;
$focus-borders: #2870BD;