@use '../utils/variables' as v;
@use '../utils/mixins';

article.article__education {
    border-radius: 20px;
    background-color: #11131F;
    filter: drop-shadow(0px 3px 15px black);
    padding: 20px;    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;

    .picto__container {
        color: v.$txt-color;
        font-size: 23px;
    }

    .txt__container {
        display: grid;
        gap: 7px;        
    
        h3 {
            font-size: 20px;
            margin: 0 0 10px;
            color: v.$title-color;
        }

        p{
            color: v.$txt-color;

            &:nth-child(3), &:nth-child(4) {
                font-size: 14px;
                font-style: italic;
            }
        }
    }
}