@use '../utils/variables' as v;
@use '../utils/mixins';

.modal__backdrop {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5000;
    padding: 2rem;

    .modal__dialog {
        width: 90%;
        max-width: 700px;
        max-height: 90vh;
        background-color: v.$background-color;
        border-radius: 15px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 1);
        padding: 30px;
        overflow-y: auto; // scroll uniquement dans la modale

        &.project__dialog {
            @include mixins.tablet {
                padding: 30px 60px;
            }
        }
        h2 {
            color: v.$title-color;
        }

        .modal__body {
            margin-bottom: 50px;

            p {
                color: v.$txt-color;
                line-height: 1.5;
                font-size: 14px;

                @include mixins.tablet-xl{
                    font-size: 16px;
                } 

                a {
                    color: v.$txt-color;
                    font-weight: 700;

                    &:hover {
                        cursor: pointer;
                    }

                    &:focus-visible {
                        border-color: v.$focus-borders;       // <-- la bordure change
                        outline: 2px solid v.$focus-borders;  // <-- anneau de focus (accessibilité)
                        outline-offset: 2px;
                    }
                }
            }
        }

        .close__modal {
            width: 50%;
            align-self: flex-start;
            margin-top: 20px;


            @include mixins.tablet-xl {
                width: 30%;
            }

            button {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: v.$components;
                border-radius: 10px;
                padding: 10px;
                border: none;
                color: v.$txt-color;
                text-align: center;
                cursor: pointer;

                @include mixins.tablet{
                    padding: 8px;
                }

                @include mixins.laptop {
                    padding: 10px;
                }

                @include mixins.desktop {
                    padding: 12px;
                }


                @include mixins.desktop-xl {
                    padding: 15px;
                    font-size: 18px;

                }

                &:hover {
                    background-color: v.$hover-components;
                }

                &:focus-visible {
                    border-color: v.$focus-borders;       // <-- la bordure change
                    outline: 2px solid v.$focus-borders;  // <-- anneau de focus (accessibilité)
                    outline-offset: 2px;
                }
            }
        }

        button.modal__close {
            background-color: v.$components;
            border: none;
            border-radius: 15px;
            margin-bottom: 10px;

            &:hover {
                background-color: v.$hover-components;
            }

            svg {
                color: v.$borders-color;
                font-size: 30px;
            }
        }

        .modal__cover {
            img {
                width: 100%;
                height: 200px;
                object-fit: cover;
                object-position: top;

                @include mixins.tablet-xl {
                    height: 250px;
                }

                @include mixins.laptop {
                    height: 300px;
                }

                @include mixins.desktop {
                    height: 350px;
                }

            }
        }

        h3 {
            font-size: 20px;
            color: v.$title-color;
            margin: 15px 0;

            @include mixins.tablet-xl {
                font-size: 22px;
            }

            @include mixins.desktop {
                font-size: 24px;
            }
        }

        .project__details {
            display: flex;
            flex-direction: column;
            gap: 30px;

            @include mixins.tablet {
                flex-direction: row;
                justify-content: space-between;
            }

            .skills__content {
                @include mixins.tablet {
                    width: 50%;
                }

                ul {
                    padding: 0;
                    display: flex;
                    gap: 10px;
                    flex-direction: column;

                    li {
                        color: v.$txt-color;
                    }
                }
            }

            .more__content {
                @include mixins.tablet {
                    width: 50%;
                }

                .links__container {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    margin-top: 30px;

                    .cta__container {
                        width: auto !important;
                    }

                    .project__warning {
                        font-size: 14px;
                        color: v.$smooth-warning;
                    }
                }
            }
        }
    }
}