@use '../utils/variables' as v;
@use '../utils/mixins';

article.article__skills {
    border-radius: 20px;
    background-color: #11131F;
    filter: drop-shadow(0px 3px 15px black);
    padding: 15px 15px 0;
    display: flex;
    flex-direction: column;

    @include mixins.tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 15px 30px;
    }

    .title__container {
        @include mixins.tablet {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        h3 {
            font-size: 20px;
            color: v.$title-color;
            margin: 0;

            @include mixins.tablet-xl {
                font-size: 22px;
            }

            @include mixins.desktop {
                font-size: 24px;
            }
        }
    }
}