@use '../utils/variables' as v;
@use '../utils/mixins';

.tags-list {
    display: flex;
    gap: 30px;
    align-items: center;
    margin: 15px 0;

    img {
        width: 45px;
        height: 30px;
        object-fit: contain;
    }
}